langchain
langchain_community
ipykernel
pypdf
bs4
arxiv
fitz
PyMuPDF 
python-dotenv
langchain-openai
langchain_huggingface
faiss-cpu
streamlit
langchain_ollama
langchain_groq
fastapi
langserve
uvicorn
sse_starlette
langchain-chroma
bs4
youtube-transcript-api
tiktoken
sentence-transformers