langchain
langchain_community
langchain-community
langchain-openai
langchain_huggingface
langchain_ollama
langchain_groq
langchain_chroma
langchain-chroma
langchain_nvidia_ai_endpoints
langchain-text-splitters
python-dotenv
ipykernel
pypdf
pymupdf
fitz
bs4
arxiv
wikipedia
sentence-transformers
sentence_transformers
chromadb
faiss-cpu
duckdb
pandas
openai
duckduckgo-search
duckduckgo_search==5.3.1b1
mysql-connector-python
SQLAlchemy
validators==0.28.1
youtube-transcript-api
youtube_transcript_api
unstructured
pytube
numexpr
huggingface_hub
streamlit==1.24.0
altair==4.2.2
fastapi
langserve
uvicorn
sse_starlette
tiktoken
